<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
<div th:fragment="chat" style="height:855px; width:550px; background-color: white; position: relative;">
 	<div>
 		 <div id="chatHeader"> 참여 인원 내용검색 자리 </div>
		 <div class="wrap" id="wrap">
	        <div class="chatting ch1">
	            <div class="icon"></div>
	            <div class="textbox">안녕하세요. 반갑습니다.</div>
	        </div>
	        <div class="chatting ch2">
	            <div class="icon"></div>
	            <div class="textbox">안녕하세요. </div>
	        </div>
	        <div class="chatting ch1">
	            <div class="icon"></div>
	            <div class="textbox"> 긴대화 어디까지 가능 합니까? 가가가 나나나 다다다 라라라</div>
	        </div>
	        <div class="chatting ch2">
	            <div class="icon"></div>
	            <div class="textbox">가나다라마 가나다 가나다라마 가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마 </div>
	        </div>
	        <div class="chatting ch2">
	            <div class="icon"></div>
	            <div class="textbox">가나다라마 가나다 가나다라마 가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마 </div>
	        </div>
	        <div class="chatting ch2">
	            <div class="icon"></div>
	            <div class="textbox">가나다라마 가나다 가나다라마 가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마 </div>
	        </div>
	        <div class="chatting ch2">
	            <div class="icon"></div>
	            <div class="textbox">가나다라마 가나다 가나다라마 가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마 </div>
	        </div>
	        <div class="chatting ch2">
	            <div class="icon"></div>
	            <div class="textbox">가나다라마 가나다 가나다라마 가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마가나다라마 가나다 가나다라마<span class="chatTime">2023-11-23 오후 12:40</span> </div>
				<div class="chatTimeBox"></div>	       
	        </div>
	         <div class="chatting ch1">
	            <div class="icon"></div>
	            <div class="textbox">안녕하세요. 반갑습니다.<span class="chatTime">2023-11-23 오후 12:40</span></div>
	            <div class="chatTimeBox"></div>
	        </div>
	        <div class="chatting ch2">
	            <div class="icon"></div>
	            <div class="textbox">안녕하세요. <span class="chatTime">2023-11-23 오후 12:40</span></div>
	            <div class="chatTimeBox"></div>
	        </div>
	    </div>
	
	
		<div class="messegeInput">
			<textarea rows="4" name="messege" id="messege" placeholder="메세지 입력..." class="messegeInputArea"></textarea>
			<button type="button" class="button">전송</button>
		</div>
		<script type="text/javascript">
		window.onload=function(){
			let mySpace = document.getElementById("wrap");
			mySpace.scrollTop = mySpace.scrollHeight; };
		</script>
	</div>
</div>
</body>
</html>