<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="friend" th:fragment="friend">
		<table class="accordion" id="friendListTable">
			<tr><td id="addMeFriendList">
				        <!-- 나를 추가한 친구 목록 ----------------------------------------------------------- -->
				        <div class="accordion-section">
				            <div class="accordion-title" onclick="toggleAccordion(this), rotateImage();">
				            	나를 추가한 친구
				           		<img src="/images/main/arrow.png" id="rotatingImage" class="arrow">
				            </div>
				            <div class="accordion-content" style="max-height : 150px;">
				               	<table>
				            		<tr th:each="addedFriendList : ${addedFriendList}">
				            			<td>
					            			<table class="friendHover">
						                	<tr>
						                		<td rowspan='2' class="friendListImageTable">
						                			<div class="friendProfileImageWrap">
						                				<img class="friendProfileImage" th:src="${addedFriendList.profile_img}"/>
						                			</div>
						                		</td>
						                		<td class="profileContentBox">
						                			<span class="friendListNickName" th:text="${addedFriendList.nick_name}">대화명</span>
						                			<span class="friendListId" th:text="'('+${addedFriendList.id}+')'">(memberID)</span>
						                			<input type="hidden"  id="friendListId" th:value="${addedFriendList.id}"/>
						                			<div>
						                				<button type="button" onclick="friendAccept()" class="searchMemberBtn4"> 수락 </button>
					                					<button type="button" onclick="friendReject()" class="searchMemberBtn5"> 거절 </button>
						                			</div>
						                			
						                		</td>
						                	</tr>
						                	<tr>
						                		<td class="profileStatusBox">
													<span class="statusMessage" th:text="${addedFriendList.status_message}">상태메세지 길어진다</span>
												</td>
						                	</tr>
						                	</table>
						                </td>
				            		</tr>
				            	</table>
							</div>
						</div>
				</td></tr>
			
			<tr>
				<td>
				<!--  친구 목록 ------------------------------------------------------------------------------ -->
			        <div class="accordion-section">
			            <div class="accordion-title" onclick="toggleAccordion(this), rotateImage2()">
			            	친구목록
			            	<img src="/images/main/arrow.png" id="rotatingImage2" class="arrow"></div>
			            <div class="accordion-content">
			            	<table>
			            		<tr th:each="friendList : ${friendList}">
			            			<td>
				            			<table class="friendHover" onclick="goFriendProfile(event)">
					                	<tr>
					                		<td rowspan='2' class="friendListImageTable">
					                			<div class="friendProfileImageWrap">
					                				<img class="friendProfileImage" th:src="${friendList.profile_img}"/>
					                			</div>
					                		</td>
					                		<td class="profileContentBox">
					                			<span class="friendListNickName" th:text="${friendList.nick_name}">대화명</span>
					                			<span class="friendListId" th:text="'('+${friendList.id}+')'">(memberID)</span>
					                			<input type="hidden" class="profileId" th:value="${friendList.id}"/>
					                		</td>
					                	</tr>
					                	<tr>
					                		<td class="profileStatusBox">
												<span class="statusMessage" th:text="${friendList.status_message}">상태메세지 길어진다</span>
											</td>
					                	</tr>
					                	</table>
					                </td>
			            		</tr>
			            	</table>
			            </div>
			        </div>
				</td>
			</tr>
	    </table>   
	</div>
</body>
</html>