<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="csboard" th:fragment="csboard">
<h3>자유게시판</h3>

	<table class="table-sriped">
			<thead>
			<tr>
				<td style="width:40px; text-align:center;" scope="col">No</td>
				<td style="width:300px; text-align:center;" scope="col">제목</td>
				<td style="width:100px;" scope="col">글쓴이</td>
				<td style="width:90px; text-align:center;" scope="col">작성일자</td>
			</tr>
			
			</thead>
			<tbody>
			<tr style="height:30px; font-size: small; border-top:0.5px solid #adadad" th:each="dto : ${boardList}" >
			
				<td style="width:40px; text-align:center;" scope="row">
					[[${dto.board_number}]]
				</td>
				<td style="width:300px; padding-left:50px;">
				<a href="#" style="color:black !important;" onclick="getBoardForm(event)">
				<input type="hidden" class="board_number" name="board_number" th:value="${dto.board_number}">
					[[${dto.board_title}]]
				</a></td>
				<td style="width:100px;">[[${dto.board_writer}]]</td>
				<td style="width:90px; text-align:center;" scope="col">[[${#dates.format(dto.board_createdate, 'yyyy-MM-dd')}]]</td>
			</tr>
			</tbody>
		</table>
			<input type="button" id="button1" name="button1" class="button1" style="height:36px; font-size:small; float:right;" onclick="insertBoardForm();" value="글등록">
</body>
</html>