@charset "UTF-8";

* {
	border-collapse: collapse;
	border-spacing: 0;

}
body {
	margin : 0px;
	padding : 0px;
	background-color : #f2f3f6;
}



/* 전체 스크롤바 */
*::-webkit-scrollbar {
    width: 4px;
    background-color: transparent;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    height: 1%;
    background-color: #b0b0b0;
    border-radius: 10px;
}



/* 메인 테이블 테두리 */
.mainTable {
	border-collapse: collapse;
	border-spacing: 0;
	margin : 0px auto;
	border-right : 1px solid #dee0e6;
	border-left : 1px solid #dee0e6;
	border-bottom : 1px solid #dee0e6;
}
#header {
	background-color : white;
	height : 50px;
	border-bottom : 1px solid #dee0e6;
}
#menubar {
	border-right : 1px solid #dee0e6;
	background-color : #eaebee;
	text-align : center;
}
#talklogo {
	margin-left : 5px;
}
#myProfile {
	background-color : white;
	border-bottom : 1px solid #dee0e6;
}
#chat {
	background-color : white;
	border-left : 1px solid #dee0e6;
}
#friendList {
	background-color : white;
}



/* 해더 로고 로그아웃*/
#logout {
	float : right;
	margin : 10px right;
	width : 80px;
	height : 28px;
	text-align : right;
	padding-top :  15px;
}
.logoutSessionId {
	float : right;
	color : black;
	font-size:25px;
	padding-top :  5px;
}
a:link, a:visited {
	color: black;
	text-decoration: none;
}
a:hover, a:active {
	color: #949393;
	text-decoration: none;
}
.logo {
	margin-top : 5px;
}



/*메뉴 아이콘 */
.mainNav {
	position: relative;
    top : -140px;
    margin-bottom : 20px;
}

.navA:link, .navA:visited {
	color: #949393;
	text-decoration: none;
}
.navA:hover, .navA:active {
	color: black;
	text-decoration: none;
}


/* 내프로필 이미지 */
.profileImage {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: auto;
    border : 2px solid #e86479;
    border-radius: 50%;
    padding : 3px;
}
.profileImageWrap {
    position: relative;
    width: 60px;
    height: 60px;
    margin : auto;
}

/* 내프로필 사진 배경 대화명 메세지 변경*/


/* 친구리스트 */
.friendProfileImage {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: auto;
    border : 2px solid rgba(0, 0, 0, .0);
    border-radius: 50%;
    padding : 3px;
}
.friendProfileImageWrap {
    position: relative;
    width: 60px;
    height: 60px;
    margin : auto;
}
.profileContentBox {
	text-align : left;
	vertical-align : bottom;
}
.friendListNickName {
	font-size : 13px;
	font-weight: bold;
}
.friendListId {
	font-size : 10px;
	
}
.profileStatusBox{
	text-align : left;
	vertical-align : top;
}
.statusMessage {
	font-size : 14px;
	font-weight: normal;
	padding-bottom : 40px;
}
.statusMessageTime {
	font-size : 10px;
	font-weight: normal;
}
 #friendListTable {
 	width : 310px;
 	border-top : 1px solid #dee0e6;
 	position: absolute;
    top : 130px;
}
.friendListImageTable {
	width : 80px;
}
.friendHover {
	width : 305px;
	height : 75px;
	border-collapse: collapse;
	border-spacing: 0;
}
.friendHover:hover {
	background-color : #eaebee;
}
/*친구 리스트 아코디언*/
.accordion {
	display: flex;
	flex-direction: column;

}
.accordion-section {
            margin-bottom: 8px;      
}
.accordion-title {
            background-color: white;
            height : 35px;
            width : 295px;
            padding-left : 15px;
			padding-top : 10px;
}
.accordion-content {
            display: inline-block;
            overflow-y: auto;
			overflow-x: hidden;
			max-height : 515px;
}
/* 돌아가는 화살표 */
.arrow {
            transition: transform 0.5s ease;
            width : 13px;
            height : 13px;
            float : right;
            margin-top : 10px;
            margin-right : 10px;
}


   
    
 /*프로필과 프로필 배경 상태메세지 */   
.profileBackImage {
	  background-image: url(/images/background/newjeanback.jpg);
	  background-size : cover;
	  background-repeat : no-repeat;
	  background-position: center center;
	  width: 100%;
	  height: 100%;
	  text-align : center;
	  color : white;
	  font-size : 25px;
}    
.profileSetImageWrap {
	margin : auto;
	width: 250px; 
	height: 250px; 
	overflow: hidden; 
	position: relative;
	top : 450px;
	border-radius: 90%;
	box-shadow: 0px 0px 10px black;
}
.profileSetImage {
	position: relative;
	width: 100%;
    height: 100%;
    margin : auto;
    object-fit: cover; 
}
.profileStatusChat {
	position: absolute;
	top : 20px;
	left : 0px;
	text-shadow: -1px 1px gray, 1px 1px gray, 1px 1px gray, 1px -1px gray;
	display: flex;
}
.profileStatusChatChild{
	margin-left : 23px;
}
.profileStatusNick {
	position: relative;
	top : 440px;
	text-shadow: -1px 1px gray, 1px 1px gray, 1px 1px gray, 1px -1px gray;
}
.profileStatusMessage {
	position: relative;
	top : 455px;
	text-shadow: -1px 1px gray, 1px 1px gray, 1px 1px gray, 1px -1px gray;
	
}
/* 정보 변경 모달 보이기 가리기*/
.bbtn {
	border-width: 0;
	font-size : 10px;
	width : 40px;
	height : 25px;
    background-color: #e86479;
    font-weight: 900;
    color: #fff;
    border:none;
    border-radius:5px;
    border-width: 0;
}
.bbtn:hover  {
	background-color: #ffb6c4;
	border: 1px solid #e86479;
}
.bbtn:active  {
	background-color: #ffb6c4;
	border: 2px solid #e86479;
}
.profileStatusChat DIV {
	margin-left : 23px;
}
.modalChatName {
	background-color : white;
    position: absolute;
    height: 35px;
    width: 280px;
    margin: auto;
    top : 70px;
    left : -20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
}
#changeChatName {
	color : black;
}

.modalStatusMessage {
	background-color : white;
    position: absolute;
    height: 35px;
    width: 280px;
    margin: auto;
    top : 70px;
    left : 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
}

#changeStatusMessage {
	color : black;
}

.modalProfileImage {
	background-color : white;
    position: absolute;
    height: 75px;
    width: 275px;
    margin: auto;
    top : 70px;
    left : 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;

}
#changeProfileImage {
	color : black;
}

.modalBackImage {
	background-color : white;
	font-color : black;
    position: absolute;
    height: 75px;
    width: 275px;
    margin: auto;
    top : 70px;
    left : 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px gray;
    border-radius: 5px;
}
#changeBackImage {
	color : black;
}


.visible {
    visibility: visible;
}
.hidden {
    visibility: hidden;
}




/* 정보 변경 */
.infoWrap {
	width : 545px;
	margin : 0px auto;
	height : 820px;
	text-align : center;
	
}

.infoSection {
	width : 500px;
	margin : 15px auto;
	margin-top : 35px;
	border-radius: 10px;
	border : 1px solid #dee0e6;
	box-shadow: 0px 0px 4px 1px #dee0e6;
}

.infoModifyForm {
	border-width: 0;
	width : 345px;
	height : 35px;
	font-size : 15px;
}
.sectionTitle {
	font-size : 18px;
	font-weight:bold;
}
.imfInput {
	border-bottom : 1px solid #dee0e6;
}
.buttonM {
	height : 30px;
	width : 85px;
    background-color: #e86479;
    font-weight: 900;
    font-size : 15px;
    color: #fff;
    border:none;
    border-radius:5px;
    border-width: 0;
    margin : 3px;
}
.buttonM:hover {
	background-color: #ffb6c4;
	border: 1px solid #e86479;
}
.buttonM:active {
	background-color: #ffb6c4;
	border: 2px solid #e86479;
}



/* 친구 검색 추가 대기*/
.searchMemberTitle {
	text-align: center;
}
.searchMemberBody table{
	text-align: left;
	margin : 0px auto;
}
.searchMemberHeader {
	position: absolute;
	top : 60px;
	height : 200px;
	width : 545px;
}
.searchMemberWaiting {
	position: absolute;
	top : 300px;
	height : 540px;
	width : 545px;
}
.searchMemeberForm {
	width : 500px;
	margin : 15px auto;
	margin-top : 35px;
}
.searchMemberSelect {
	border-width: 0;
	height : 35px;
	font-size : 15px;
}
.searchMemberInput {
	border-width: 0;
	font-size : 15px;
	width : 330px;
}
.searchMemberBtn {
	border-width: 0;
	font-size : 15px;
	width : 65px;
	height : 30px;
    background-color: #e86479;
    font-weight: 900;
    font-size : 15px;
    color: #fff;
    border:none;
    border-radius:5px;
    border-width: 0;
    margin : 5 px;
}
.searchMemberBtn:hover  {
	background-color: #ffb6c4;
	border: 1px solid #e86479;
}
.searchMemberBtn:active  {
	background-color: #ffb6c4;
	border: 2px solid #e86479;
}
.bottomLine {
	border-bottom : 1px solid #dee0e6;
}
.searchProfileImage {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(50, 50);
    width: 90%;
    height: 90%;
    object-fit: cover;
    margin: auto;
    border : 2px solid rgba(0, 0, 0, .0);
    border-radius: 50%;
    padding : 3px;
}
.searchProfileImageWrap {
    position: relative;
    width: 90px;
    height: 90px;
    margin : auto;
}
.searchProfileName {
	font-size : 25px;
}
.searchMemberBtn2 {
	border-width: 0;
	font-size : 15px;
	width : 65px;
	height : 30px;
    background-color: #01DF01;
    font-weight: 900;
    font-size : 15px;
    color: #fff;
    border:none;
    border-radius:5px;
    border-width: 0;
    margin : 5 px;
}
.searchMemberBtn2:hover  {
	background-color: #81F7BE;
	border: 1px solid #01DF01;
}
.searchMemberBtn2:active  {
	background-color: #81F7BE;
	border: 2px solid #01DF01;
}
.searchMemberBtn3 {
	border-width: 0;
	font-size : 15px;
	width : 65px;
	height : 30px;
    background-color: #FF0000;
    font-weight: 900;
    font-size : 15px;
    color: #fff;
    border:none;
    border-radius:5px;
    border-width: 0;
    margin : 5 px;
}
.searchMemberBtn3:hover  {
	background-color: #F78181;
	border: 1px solid #FF0000;
}
.searchMemberBtn3:active  {
	background-color: #F78181;
	border: 2px solid #FF0000;
}



/* 친구 리스트에서 수락 거절 버튼*/
.searchMemberBtn4 {
	border-width: 0;
	font-size : 10px;
	width : 38px;
	height : 15px;
    background-color: #01DF01;
    font-weight: 900;
    color: #fff;
    border:none;
    border-radius:5px;
    border-width: 0;
    margin : 10 px;
}
.searchMemberBtn4:hover  {
	background-color: #81F7BE;
	border: 1px solid #01DF01;
}
.searchMemberBtn4:active  {
	background-color: #81F7BE;
	border: 2px solid #01DF01;
}
.searchMemberBtn5 {
	border-width: 0;
	font-size : 10px;
	width : 38px;
	height : 15px;
    background-color: #FF0000;
    font-weight: 900;
    color: #fff;
    border:none;
    border-radius:5px;
    border-width: 0;
    margin : 10 px;
}
.searchMemberBtn5:hover  {
	background-color: #F78181;
	border: 1px solid #FF0000;
}
.searchMemberBtn5:active  {
	background-color: #F78181;
	border: 2px solid #FF0000;
}




